.symbol {
    border-radius: 100%;
    border: 1px solid black;
    font-weight: bold;
}

.highlighted {
    background-color: yellow;
}

.card-pill {
    margin: 3px;
}

.uncommon {
    background-color: darkgrey;
}
.rare {
    background-color: goldenrod;
}
.mythic {
    background-color: orange;
}

.color-U {
    background-color: blue;
    color: white;
    padding: 2px 8px;
}
.color-B,
.common {
    background-color: black;
    color: white;
    padding: 2px 8px;
}
.color-R {
    background-color: red;
    color: white;
    padding: 2px 8px;
}
.color-G {
    background-color: green;
    color: white;
    padding: 2px 8px;
}
.color-W {
    background-color: white;
    color: black;
    padding: 2px 4px;
}
.color-pink {
    background-color: palevioletred;
    color: white;
    padding: 2px 8px;
}
.color-gold {
    background-color: goldenrod;
    color: white;
    padding: 2px 8px;
}
