

.highlighted {
    background-color: yellow;
}

.card-pill {
    margin: 3px;
}

.uncommon {
    background-color: darkgrey;
}
.rare {
    background-color: goldenrod;
}
.mythic {
    background-color: orange;
}


.color-pink {
    background-color: palevioletred;
    color: white;
    padding: 2px 8px;
}
.color-gold {
    background-color: goldenrod;
    color: white;
    padding: 2px 8px;
}
